<div class="admin-layout">
  <app-header (menuToggle)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [opened]="true" [class.collapsed]="sidenavCollapsed">
      <app-sidenav [collapsed]="sidenavCollapsed" (toggleCollapse)="onSidenavToggleCollapse($event)"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content [class.content-expanded]="sidenavCollapsed">
      <div class="content-wrapper">
        <router-outlet/>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
