<!-- certificate Form -->
<app-certificate-form
[isPreviewGenerated]="certificateGenerated"
[certificateCode]="certificateCode"
(previewGenerated)="onPreviewGenerated($event)"
(formValueChanged)="onFormValueChanged($event)"
(downloadRequested)="onDownloadRequested()"
(saveRequested)="onSaveRequested($event)"/>

<!-- Certificado Preview -->
@if (certificateGenerated) {
  <app-certificate-preview
    #certificateElement
    [formData]="certificateData"
    [currentDate]="currentDate"
    [yearSelected]="yearSelected"
    [certificateCode]="certificateCode"/>
}
