<div class="login">
  <h1 class="login__title">Inicia sesión para continuar</h1>

  <form class="login__form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="login__form-group">
      <mat-form-field appearance="fill" class="login__input">
        <mat-label>Correo electrónico</mat-label>
        <mat-icon matPrefix class="login__icon">email</mat-icon>
        <input formControlName="email" type="email" matInput placeholder="" />
      </mat-form-field>
    </div>

    <div class="login__form-group">
      <mat-form-field appearance="fill" class="login__input">
        <mat-label>Contraseña</mat-label>
        <mat-icon matPrefix class="login__icon">key</mat-icon>
        <input
          formControlName="password"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePassword()"
          [attr.aria-label]="'Hide password'"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="login__options">
      <a href="#" class="login__forgot-password"
        >¿Se te olvidó tu contraseña?</a
      >
      <mat-checkbox formControlName="rememberMe" class="login__remember">Mantenerme Conectado</mat-checkbox>
    </div>

    <button mat-raised-button class="login__submit-btn">Iniciar Sesión</button>

    <button mat-button class="login__cancel-btn" mat-dialog-close>
      Cancelar
    </button>

    <p class="login__signup">¿No tienes una cuenta?</p>
  </form>
</div>
