<div class="sidenav-container" [class.collapsed]="collapsed">
  <div class="toggle-button">
    <button mat-icon-button (click)="toggleSidenavCollapse()">
      <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <mat-nav-list>
    @for (item of menuItems; track $index) {
      <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
        <div class="menu-item">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-label" *ngIf="!collapsed">{{item.label}}</span>
        </div>
      </a>
    }
  </mat-nav-list>
</div>
