.mat-elevation-z8 {
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 900px;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.mat-cell {
  padding: 8px;
}

.mat-header-cell {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
