<div #certificateElement class="certificate-preview">
  <div class="certificate-preview__content">
    <div class="content-wrapper">
      <div class="title-group">
        <h1 class="title">DE ASISTENCIA SEGÚN RESOLUCIÓN 3100 DE 2019</h1>
        <div class="company-info">NIT 9012123811 CDCREANIMARTE</div>
      </div>

      <div class="student-group">
        <h2 class="student-name">{{ formData?.studentName }}</h2>
        <div class="id-info">
          IDENTIFICADO CON {{ formData?.documentType }}:
          {{ formData?.documentNumber | mask: 'separator.2' }}
          DE {{ formData?.expeditionPlace | uppercase }}
        </div>
      </div>

      <div class="course-info">
        <div>Asistió y aprobó el curso</div>
        <div class="course-name">{{ formData?.courseName }}</div>
        <div>con una intensidad de {{ formData?.hours }} horas.</div>
      </div>

      <div class="signatures">
        <div class="representante">
          <img src="images/fir_rep_legal.jpg" alt="Firma">
          <div>Representante Legal</div>
        </div>

        <div class="director">
          <img src="images/fir_dir_general.jpg" alt="Firma">
          <div>Director General</div>
        </div>
      </div>

      <div class="verification-info">
        <p>Emitido: <span>{{ formData?.issueDate | date:'dd/MM/yyyy' }}</span></p>
        <p>Vigencia: <span>{{ formData?.issueDate | date:'yyyy' }} - {{yearSelected | date:'yyyy'}} </span></p>
        <p>Código: <span>{{ certificateCode }}</span></p>
        <p>Verificar: <a href="https://cdcreanimarte.github.io/certificaciones/">https://cdcreanimarte.github.io/certificaciones</a></p>
      </div>
    </div>
  </div>
</div>
